<%- include ("header") -%>

<div class="box"  id="title">
    <h1><%= listTitle %></h1>
</div>

<div class="box" id="tabs">

    <% addItem.forEach(function(newItemAdd){ %>

        <form action="/delete" method="post">
            <div class="item">
            <input type="checkbox" name="isChecked" value= "<%=newItemAdd._id %>" onchange="this.form.submit()">
            <p><%= newItemAdd.name %></p>
        </div>
        </form>

    <% }) %>


    <form action="/" method="post" class=" formClass">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>

</div>


<%- include ("footer") -%>